<div class="wrapper">

    <div ui-view="navigation"></div>
    <div class="content-wrapper " style="background: #F4F4F6;height: 150%;" ng-init="initViewServices()">
  
        
       <div class="col-md-11 col-sm-11 panel table-box">
             <div class="panel-body heading" style="background:#445377;color: white;margin-top: 1%;height: 40px;">
                <label style="font-size: 18px;font-weight: 100;padding: 5px 15px">Add Service</label>
            </div>
            <div class="panel-body row view">
                 <section class="content bgcolor-9" ng-model="innerContent" style="margin-left: 10%;">
                            <!--This is for First Row Section-->
                     <form class="addForm"  ng-submit=addnewService(addForm,serviceData)>
                            <div class = "row">
                                <div class ="col-md-6">
                                    <label for="usr">Service Name<span class="asterisk">*</span>  </label> 
                                     <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                         <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="serviceName" placeholder="Service Name">
                                   </div>

                                </div>
                                <div class ="col-md-6">
                                    <label for="usr">Service Cost<span class="asterisk">*</span></label>
                                    <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-inr" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="serviceCost" placeholder="Service Cost">
                                    </div>
                                </div>
                            </div><br>
                            <!--This is for Second Row Section-->
                            <div class = "row">
                                <div class ="col-md-6">
                                    <label for="usr">Completion Time<span class="asterisk">*</span></label>
                                       <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                       <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="completionTime" placeholder="Completion Time">
                                    </div>
                                </div>
                                <div class ="col-md-6">
                                    <label for="usr">Description<span class="asterisk">*</span></label>
                                    <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                                <textarea  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="officialAddress" placeholder="Address" style="height: 55px;width: 53%;" ></textarea>
                            </div>
                                </div>
                            </div>
                     
                            <br>
                         </form>
                       <div class="row text-center" style="margin-right: 22%">
                       
                        <button ng-disabled="commissionMsg" type="submit" class="btn saveBtn">Save</button>

                    </div>
                    
                        </section>

            </div>
        </div>
        
    </div>
    </div>