<div class="wrapper">
  <div ui-view="navigation"></div>
    
    <div class="content-wrapper" style="background: #F4F4F6;height: 150%;">
        <div class="container" style="margin-left: 2%;width: 95%;">
      <!--header-->
        <div class="col-md-11 col-sm-11 panel-default">
          <div class="panel-body">
            <ul class="nav navbar-nav navbar-right" style="margin-top:0%;">
               <!--Icon For Add User-->
               <li style="z-index: 1000;position: relative;">
                 <a ui-sref="addProduct" data-toggle="add" >
                   <i><img src="common/assets/images/AddBlack.png" height="50"></i>

                 </a>
               </li>   <!--End Of Icons-->
              </ul>
               <h1 style="text-shadow:2px 2px 9px grey;font-size: 27px">View Product</h1>
          </div>
        </div>
        
        <!--Here start Code For Table-->
        <!--For Searching FIlter-->
        <div class="searchBox">
              <input type="text" class="form-control searchInput" placeholder="Search">
            </div>
       
        <div class="table-responsive" style="width: 98%;margin-left: 3px" >
            
             
            
            <table class="table">
              <thead >
                <tr>
                  <th class="sorting_asc" aria-sort="ascending" aria-label="productName: activate to sort column descending">Product Name</th>
                  <th>Category</th>
                  <th>Brand</th>
                  <th>Price</th>
                  <th>Action</th>
                </tr>  
              </thead>
                
                <tbody>
                  <tr ng-repeat="product in products">
                    <td>{{product.productName}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.brand}}</td>
                    <td>{{product.price}} $</td>
                     <td><a ng-click="gotToUpdateProduct()" class="badge badge-primary" style="font-weight: 100;background: #445377;box-shadow: 2px 2px 8px 0px grey;">Edit</a> &nbsp <a href="#!" class="badge badge-primary" style="font-weight: 100;background: #da6f6f;box-shadow: 2px 2px 8px 0px grey;">Delete</a></td>
                  </tr>
                </tbody>
            </table>
        </div>
        
        </div></div>
</div>