

<div class="wrapper">
    <div ui-view="navigation"></div>
   <div class="content-wrapper" style="background: #F4F4F6;height: 150%;" ng-init ="initUpdateResource()">
     <div class="col-md-11 col-sm-11 panel table-box">
       <div class="panel-body" style="background: #445377;color: white;height: 40px;margin-top: inherit;">
          <label style="font-size: 18px;font-weight: 100;padding: 5px 15px;">Update Resources</label>
       </div><br><br>
         
         <!--Row View-->
          <div class="panel-body row view">
             <section class="content bgcolor-9" ng-model="innerContent" style="margin-left:10%;">
                <!--This is First Row Section-->
                 <form class="updateForm" ng-submit=updateResources(updateform,resource)>
                    <div class="row">
                        <!--First row-->
                       <div class="col-md-6">
                         <label for="usr">Available Resource<span class="asterisk">*</span></label>
                                   <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="resource.name" ng-options="resources for resources in availableResource"></select>
                                   </div>
                       </div>
                        
                           <div class="col-md-6">
                             <label for="usr">Used For<span class="asterisk">*</span></label>
                                   <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                     <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="resource.usedFor" placeholder="Used for">
                                   </div>
                       </div>
                         
                    </div>   <br>    
                     
                     <!--Third Row-->
                     
                      <div class ="row">
                        <div class="col-md-6">
                             <label for="usr">Quantity<span class="asterisk">*</span></label>
                                   <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                     <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="resource.quantity" placeholder="quantity">
                                   </div>
                       </div>
                         
                      </div>
                 </form>
                 
                 <!--Button for Update-->
                    <div class="row text-center" style="margin-right: 22%">
                        <button ng-disabled="commissionMsg" type="submit" class="btn saveBtn">Update</button>
                    </div>
             </section>
          </div>
     </div>
   </div>   
 
</div>