<div class ="wrapper">
  <div ui-view="navigation"></div>
    
    <div class="content-wrapper" style="background: #F4F4F6;height: 150%;">
       <div class="container" style="margin-left: 2%;width: 95%;margin-top: 5%;">
       <!--View Resources-->
        <div class="col-md-11 col-sm-11 panel-default">
          <div class="panel-body " style="overflow: hidden;">
           
            <div class="row">
                <div class="col-sm-4">
                  <h1 style="text-shadow:2px 2px 9px grey;font-size: 27px">View Resourse</h1>
                </div>
                
                <div class="col-sm-2" >
                 <ul class="nav navbar-nav navbar-right" style="margin-top: 0%;">   
                  <li style="z-index: 1000;position: relative;">
                   <a ui-sref="addResources" data-toggle="add" >
                    <i><img src="common/assets/images/AddBlack.png" height="50"></i>
                   </a>
                  </li>
                 </ul>
              </div>
             </div>
           
             
              
         </div>
        </div>
        
        <!-- Code Start For Table -->
        
        <!--For Searching FIlter-->
             <div class="searchBox">
              <input type="text" class="form-control searchInput" placeholder="Search">
            </div>
        
          <div class="table-responsive" style="width: 98%;margin-left: 3px" >
          <br/>

        <table  class="table ">
           <thead>
             <tr>

                <th>Name</th>
                <th>Used For</th>
                <th>Branch</th>
                <th>Staff</th>
                <th>Quantity</th>
                <th>Action</th>

             </tr>
           </thead>

            <tbody>
              <tr ng-repeat="resource in resources" >
                  <td>{{resource.name}}</td>        
                  <td>{{resource.usedFor}}</td>
                  <td>{{resource.branch}}</td>
                  <td>{{resource.staff}}</td>
                  <td>{{resource.quantity}}</td>
                  <td><a ng-click="gotToResourcesUpdate(resource.id)" class="badge badge-primary" style="font-weight: 100;background: #445377;box-shadow: 2px 2px 8px 0px grey;">Edit</a> &nbsp <a href="#!" class="badge badge-primary" style="font-weight: 100;background: #da6f6f;box-shadow: 2px 2px 8px 0px grey;">Delete</a></td>

              </tr>
            </tbody>
        </table>
        </div>
   <!--End Table-->
        </div></div>
</div>