<div class="wrapper" >
    <div ui-view="navigation" ></div>
    <div class="content-wrapper" style="background: #F4F4F6;height: 150%;">
        <section id="contentSectionFont" class="myPage  " ng-init="initDashboard()">
      
  
            <!-- END -->
            <!--  <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 col-centered text-left">
                    <div class="col-xs-12 activityPanel">
                        <div class="panel">
                             
                            <p class="title">Activities</p>
                            <div class="activity" ng-repeat="data in activities">
                                <p class="time">{{data.date}}</p>
                                <p>{{data.message}}</p>
                            </div>
                            <div class="col-xs-12 text-center moreActivity">
                                <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div> -->
        </section>
    </div>
</div>

