
<div class="wrapper">
    <div ui-view="navigation"></div>


    <div class="content-wrapper" style="background: #F4F4F6;height: 150%;">

        <section id="contentSectionFont" class="myPage  " ng-init="initDashboard()">

            <div style="float: left;width: 20%;height: 74%" class="col-md-2" >
                <label style="font-size: 12px">Branch</label><input type="checkbox" style="float: right" ng-model="selectAllBranch" ng-click="checkAllBranches(selectAllBranch)"><br>
                <div class="scrollStyle">
                    <table>
                        <tr ng-repeat="branch in branches ">
                            <td><input type="checkbox"  ng-model="branch.selectBranch"></td>
                            <td>&nbsp</td>
                            <td>&nbsp</td>
                            <td>&nbsp</td>
                            <td style="font-size: 10px">{{branch.branchNameCalendar}}</td>
                        </tr>
                    </table>
                </div><br><br>

                <label style="font-size: 12px">Staff</label><input type="checkbox" style="float: right"><br>
                <div class="scrollStyle">
                    <table>
                        <tr ng-repeat="staff in staffInCalendar ">
                            <td><input type="checkbox"></td>
                            <td>&nbsp</td>
                            <td>&nbsp</td>
                            <td>&nbsp</td>
                            <td style="font-size: 10px">{{staff.staffNameCalendar}}</td>
                        </tr>
                    </table>
                </div><br><br>

                <label style="font-size: 12px">Service</label><br>
                <table>
                    <tr ng-repeat="service in serviceInCalendar ">
                        <td><input type="checkbox"></td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td style="font-size: 10px">{{service.serviceNameCalendar}}</td>
                    </tr>
                </table>

            </div>

            <div id="calendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" style="width: 80%; float: right"></div> 


            <!-- Appointment Modal -->
            <div class="modal fade " id="appointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="width: 65%">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLabel">Make Appointment</h5>
                        </div>
                        <div class="modal-body">
                          <div class="col-md-6">
                            <div class="row">
                                <div class ="col-md-6">
                                    <label for="usr">Customer Name<span class="asterisk">*</span>  </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                        <input type="email" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="vendorEmail" placeholder="Customer Name" >
                                    </div>
                                </div>
                                
                                <div class ="col-md-6">
                                    <label for="usr">Appointment Date<span class="asterisk">*</span>  </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        <input type="email" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="vendorEmail" placeholder="Appointment Date" >
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class ="col-md-6">
                                    <label for="usr">Appointment Time<span class="asterisk">*</span>  </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>

                                      
                             <input type="email" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="vendorEmail" placeholder="Appointment Time" >

                                    </div>
                                </div>
                                
                                <div class ="col-md-6">
                                    <label for="usr">Expected Time<span class="asterisk">*</span>  </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>

                                      

                                        <input type="email" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="vendorEmail" placeholder="Expected Time" >

                                    </div>
                                </div>
                            </div>
                            <br>
                             <div class="row">

                                <div class ="col-md-6">
                                    <label for="usr">Amount<span class="asterisk">*</span>  </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>

                                        <input type="email" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="vendorEmail" placeholder="Amount" >

                                    </div>
                                </div>
                            </div>
                          
                        </div>
                            <div class="col-md-6">                   
                                    <label style="font-size: 15px;font-weight: 100;margin-left: 30%;">Services</label>
                                         <!--List Of Employees-->
                                         <div class="scrolling" >
                                          <table class ="table">             
                                           <tbody>
                                            <tr ng-repeat="service in serviceList">
                                             <td style="border-color:white;width: 10%;"><input type="checkbox"></td>
                                             <td style="border-color:white;">{{service.Sname}}</td>
                                            </tr>
                                           </tbody>
                                          </table>                              
                                         <!--End OF Table-->
                                         </div>                                   
                           </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

