<div class="wrapper">
 <div ui-view="navigation"></div>
    
    <div class="content-wrapper" style="background: #F4F4F6;height: 150%;" ng-init="initUpdateCourse()">
    
         <!--Add Category Heading-->
        <div class="col-md-11 col-sm-11 panel table-box">
           <div class="panel-body" style="background: #445377;color:white;margin-top:inherit;height: 40px;">
            <label id="pageHeading" style="font-size:18px;font-weight: 100;padding: 5px 15px">Update Course</label>  
          </div><br><br>
        
              <!--Code For Update Course-->
            
            <div class="panel-body row view">
                <section class="content bgcolor-9" ng-model="innerContent" style="margin-left: 10%;">
                    <form class="addProduct" ng-submit=addnewCourse(addForm,serviceData)>
                    
                        <div class="row">
                             <div class="col-md-5">
                           <label class="usr">Course Name<span class="asterisk">*</span></label>
                                   <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                                       <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 60%" ng-model="course.courseName" placeholder="Course Name">
                                   </div>
                        </div>
                            
                             <div class="col-md-5">
                           <label class="usr">Upload Syllabus<span class="asterisk">*</span></label>
                                   <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-book" aria-hidden="true"></i></span>
                                       <input type="file" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 60%" ng-model="course.syllabus" placeholder="Syllabus">
                                   </div>
                        </div>
                            
                        </div><br><br>
                         <!--Second row-->
                      <div class="row">
                         <div class="col-md-5 ">
                              <label class="usr" style="font-size: 14px;" >Duration<span class="asterisk" >*</span></label>
                                <table>
                                   <tr>
                                      <td><label class="usr">From:<span class="asterisk">*</span></label></td>
                                       <td>&nbsp</td>
                                       <td>&nbsp</td>
                                       <td>&nbsp</td>
                                      
                                       
                                       <td> <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                       <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" datepicker style="width: 85%" ng-model="fromDuration" placeholder="From">
                                   </div></td>
                                    </tr>
                                </table>
                          </div>
                          
                        <div class="col-md-5 ">
                              <label class="usr" style="font-size: 14px;" >&nbsp<span class="asterisk" ></span></label>
                                <table>
                                   <tr>
                                      <td><label class="usr">To:<span class="asterisk">*</span></label></td>
                                       <td>&nbsp</td>
                                       <td>&nbsp</td>
                                       <td>&nbsp</td>
                                       <td>&nbsp</td>
                                       <td>&nbsp</td>
                                       <td> <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                       <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" datepicker style="width: 90%" ng-model="toDuration" placeholder="To">
                                   </div></td>
                                    </tr>
                                </table>
                          </div>
                      </div><br><br>
                        
                        <!--Third Row-->
                      
                      <div class="row">
                         <div class="col-md-5">
                            <label class="usr">Fee<span class="asterisk">*</span></label>
                              <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-inr" aria-hidden="true"></i></span>
                                       <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 60%" ng-model="fee" placeholder="Fees">
                                   </div>
                          </div>
                            <div class="col-md-5">
                            <label class="usr">Amenities Provided<span class="asterisk">*</span></label>
                              <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-book" aria-hidden="true"></i></span>
                                       <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 60%" ng-model="course.amenities" placeholder="Amenities Provided">
                                   </div>
                          </div>
                      </div><br><br>
                        
                         <!--Fourth Row-->
                      
                      <div class="row">
                         <div class="col-md-10">
                            <label class="usr">Description<span class="asterisk">*</span></label>
                              <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-info" aria-hidden="true"></i></span>
                                        <textarea  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="officialAddress" placeholder="Address" style="height: 55px;width: 82%;" ></textarea>
                                   </div>
                          </div>
                            
                      </div><br>
                      
                       <div class="col-md-8" >
  
                                   <button ng-disabled="commissionMsg" type="submit" class="btn saveBtn" style="float: right">Add</button>

                                </div>
                    </form>
                </section>
            </div>
        </div>
      
    </div>
    
</div>