<section class="home" ng-init="initHome()">
    <nav class="row navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <!--  <img alt="Brand" src="common/assets/images/logo.png">-->
                    <!--<img alt="Brand" src="{{logoUrl}}">-->
                </a>
            </div>
        </div>
    </nav>
    <div class="row ">

        <div id="login">

            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" ng-submit="onLoginClick(loginForm, signinData)" novalidate>
                                <h3 class="text-center text-info">Login</h3>
                                <div class="form-group">
                                    <label for="username" class="text-info">Username:</label><br>
                                    <input ng-model="signinData.username" type="text" name="username" id="username" class="form-control" required="required" autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input type="password" ng-model="signinData.password" name="password" id="password" class="form-control" required="required" autofocus>
                                </div>
                                <div class="form-group sign-in" ng-show="loginErrorMeessage"> 
                                    <label class="text-center text-danger">{{loginErrorMeessage}} 	</label>
                                </div>
                                <div class="form-group">
                                  <!--  <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>-->
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="Sign In">
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>