<div class="wrapper">
  <div ui-view="navigation"></div>  
    <div class="content-wrapper" style="background: #F4F4F6;padding: 1px;height: 150%;">
    
     <!-- Heading-->        
        <div class="col-md-12 col-sm-12 panel-default">
         <h1 style="text-shadow:2px 2px 9px grey;font-size: 27px">Add User</h1>
        </div>
        
          <!--Code For Add User-->
        <section class="intro">
         <form class="newUserForm" name="addUser" ng-submit="addUser(newUserForm, userFormData)" novalidate>
             <div class="row-lg-12">
                <div id="page-content-wrapper">
                  <div class="page-content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-6">
                         <div class="panel panel-danger">
                           <div class="header">
                             <label id="labelHeading">Personal Detail</label>
                           </div>
                             <div class="panel-body">
                              <div class="row">     
                              <div class ="col-md-6"> 
                               <label for="usr">First Name<span class="asterisk">*</span>  </label>
                                <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                  <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="firstName" placeholder="First Name">
                                </div>
                              </div> 
                                   <div class ="col-md-6">
                                 <label for="usr">last Name<span class="asterisk">*</span></label>
                                  <div class="input-group">
                                   <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                     <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="lastName" placeholder="Last Name">
                                  </div>
                               </div>
                             </div><br>
                                  <!--Second Row-->
                                  <div class="row">
                                     <div class ="col-md-6">
                                      <label for="usr">Phone No<span class="asterisk">*</span></label>                 
                                       <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                          <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="mobile1" placeholder="Enter Phone No.">
                                       </div>
                                     </div>
                                      
                                       <div class ="col-md-6">
                                        <label for="usr">Gender<span class="asterisk">*</span></label>         
                                        <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                          <select  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="gender" ng-options="gender for gender in genderList" style="height: 30px;font-size: 12px;"></select>
                                        </div>
                                       </div>   
                                  </div><br>
                                 
                                 <!--Third Row-->
                                  <div class = "row">
                                <div class ="col-md-6">
                                    <label for="usr">DOB<span class="asterisk">*</span></label>
        
                                       <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-birthday-cake" aria-hidden="true"></i></span>
                                         <input type="text"  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  datepicker ng-model="dateOfbirth"  >
                                   </div>
                                    
                                    
                                </div>
                                <div class ="col-md-6">
                                    <label for="usr">Anniversary Date<span class="asterisk">*</span></label>
                                  
                                    
                                      <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-gift" aria-hidden="true"></i></span>
                                         <input type="text"  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  datepicker ng-model="annivarsaryDate" >
                                      </div>
                                </div>

                            </div><br>
                                   <!--Forth Row-->
                         <div class = "row">
                                <div class ="col-md-12">
                                    <label for="usr">Address<span class="asterisk">*</span></label>
        
                                       <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-address-book-o" aria-hidden="true"></i></span>
             
                                           <textarea class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="personalAddress"></textarea>
                                   </div>
                                    
                                    
                                </div>
                            </div>
                                 
                             </div><br>
                           </div>
                               
                        </div>
                           <!--End Column 1-->
                          <div class="col-md-6">
                            <div class="panel panel-success">
                              <div class="panel-heading">
                                <div class="header">
                                  <label id="labelHeading">Official Detail</label>
                                </div>
                              </div>  
                                <div class = "panel-body">
                                  <div class="row">
                                          <div class ="col-md-6">
                                    <label for="usr">Email<span class="asterisk">*</span></label>
                                    
                                    
                                    <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                         <input type="email" placeholder="Enter Email" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="email" >
                                </div></div>
                                       <!--Second Column-->
                                         <div class ="col-md-6">

                                    <label for="usr">Alternate Phone <span class="asterisk">*</span></label>
                                   
                                      
                                       <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                         <input type="number" placeholder="Enter Phone No" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="alternateMobile">
                                    </div>

                                  </div>
                                    </div><br>
                                    <!--Second Row-->
                                    <div class = "row">
                                <div class ="col-md-6">
                                    <label for="usr">Upload Photo<span class="asterisk">*</span></label>
                                    
                                    
                                       <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
                                         <input type="file"  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"ng-model="userPhoto">
                                       </div>
                                    
                                </div>
                                <div class ="col-md-6">
                                    <label for="usr">Id Proof<span class="asterisk">*</span></label>
                                  
                                    
                                      <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
                                         <input type="file"  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"ng-model="userIdProof">
                                       </div>
                                    
                                </div>

                            </div><br>
                                     <!--Third Row-->
                                    <div class = "row">
                                <div class ="col-md-6">
                                     <label for="userType">User Type<span class="asterisk">*</span></label>
                                    
                                    
                                     <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                         <select  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="userType" ng-options="userType for userType in userTypeList" style=" font-size: 12px;height: 30px;"></select>
                                       </div>
                                    
                                </div>
                                <div class ="col-md-6">
                                    <label for="role">Role<span class="asterisk">*</span></label>
            
                                     <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                         <select  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="role"  ng-options="role for role in roleList" style=" font-size: 12px;height: 30px;"></select>
                                       </div>
                                    
                                </div>

                            </div><br>
                                      <!--Forth Row-->
                                      <div class = "row">
                             
                                          <div class ="col-md-6">
                                     <label for="userType">id Proof Type<span class="asterisk">*</span></label>
                                    
                                    
                                     <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                         <select  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="userType" ng-options="idProofType for idProofType in idProofTypeList" style=" font-size: 12px;height: 30px;"></select>
                                       </div>
                                    
                                </div>
                                <div class ="col-md-6">
                                    <label for="role">Id Proof No.<span class="asterisk">*</span></label>
            
                                     <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                         <input type = "text" placeholder="ID Proof "  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="idProofNo" >
                                       </div>
                                    
                                </div>

                            </div><br>
                                    <!--fifth Row-->
                                      <div class = "row">
                                   <div class ="col-md-6">
                                    <label for="role">State<span class="asterisk">*</span></label>
            
                                     <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-flag" aria-hidden="true"></i></span>
                                         <input type = "text" placeholder="Enter State"  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="state" >
                                       </div>
                                    
                                </div>
                       
                         <div class ="col-md-6">
                                    <label for="usr">City<span class="asterisk">*</span></label>
                                    <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-flag" aria-hidden="true"></i></span>
                                         <input type = "text" placeholder="Enter City"  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="city" >
                                       </div>
                                </div>

                                
                            </div><br>
                                     <!--Sixth Row-->
                                     <div class = "row">
                         <div class ="col-md-6">
                                    <label for="usr">Official Address<span class="asterisk">*</span></label>
                                    <!--<input type="text" class="form-control" id="inputText">-->
                         
                                    <div class="input-group">
                                          <span class="input-group-addon"><i class="fa fa-address-book-o" aria-hidden="true"></i></span>
             
                                           <textarea class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="officialAddress"></textarea>
                                   </div>
                                </div>

                                
                            </div>
                               <br><br>
                                     <div class="row text-center" style="float: right">
                       
                                          <button ng-disabled="commissionMsg" type="submit" class="btn saveBtn">Save</button>

                                       </div>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
             </div>
         </form>
        </section>
    </div>
</div>