<div class = "wrapper">
 <div ui-view="navigation"></div>

   <div class = "content-wrapper" style="background: #F4F4F6;height: 150%;margin-top: 9vh;" >
      <div class="container" style="float: right;width: 90%;">
       <!-- ------View Staff --  -->
       <div class="col-md-11 col-sm-11 panel-default">
         <div class="panel-body " style="overflow: hidden;">
           <!--  
             <ul class="nav navbar-nav navbar-right" style="margin-top: 0%;">

                
               <li style="z-index: 1000;position: relative;">
                 <a ui-sref="addUser" data-toggle="add" >
                   <i><img src="common/assets/images/AddBlack.png" height="50"></i>

                 </a>
               </li>


             </ul>-->
            <div class="row">
                <div class="col-sm-4" style="float: left">
                  <h1 style="text-shadow:2px 2px 9px grey;font-size: 27px">View User</h1>
                </div>
                <div class="col-sm-2" style="float: right">
                 <ul class="nav navbar-nav navbar-right" style="margin-top: 0%;">   
                  <li style="z-index: 1000;position: relative;">
                   <a ui-sref="addUser" data-toggle="add" >
                    <i><img src="common/assets/images/AddBlack.png" height="50"></i>
                   </a>
                  </li>
                 </ul>
              </div>
                
             </div>
           
             
              
         </div>
         
           
       </div>

       <!--Here Start Code For Table-->
       <!--For Searching FIlter-->
          <div class="searchBox">
              <input type="text" class="form-control searchInput" placeholder="Search">
            </div>
       
        <div class="table-responsive" style="width: 98%;margin-left: 3px" >
          <br/>

        <table  class="table ">
           <thead>
             <tr>

                <th>Name</th>
                <th>Email</th>
                <th>Contact No.</th>
                <th>Address</th>
                <th>Action</th>

             </tr>
           </thead>

            <tbody>
              <tr ng-repeat="staff in staffs" >
                  <td>{{staff.fullname}}</td>
                  <td>{{staff.email}}</td>
                  <td>{{staff.contactNo}}</td>
                  <td>{{staff.address}}</td>
                  <td><a ng-click="gotToUserUpdate(user.id)" class="badge badge-primary" style="font-weight: 100;background: #445377;box-shadow: 2px 2px 8px 0px grey;">Edit</a> &nbsp <a href="#" class="badge badge-primary" style="font-weight: 100;background: #da6f6f;box-shadow: 2px 2px 8px 0px grey;">Delete</a></td>

              </tr>
            </tbody>
        </table>
        </div>

       <!--End Of table Code-->
       </div></div>
</div>