/* Layout */

.wrapper {
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}

.wrapper:before,
.wrapper:after {
	content: " ";
	display: table;
}

.wrapper:after {
	clear: both;
}

.layout-boxed .wrapper {
	max-width: 1250px;
	margin: 0 auto;
	min-height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	position: relative;
}

.layout-boxed {
	background: url('../img/boxed-bg.jpg') repeat fixed;
}


/*
 * Content Wrapper - contains the main content
 * ```.right-side has been deprecated as of v2.0.0 in favor of .content-wrapper  ```
 */

.content-wrapper,
.right-side,
.main-footer {
	-webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
	margin-left: 200px;
	z-index: 820;
}

.layout-top-nav .content-wrapper,
.layout-top-nav .right-side,
.layout-top-nav .main-footer {
	margin-left: 0;
}

@media (max-width: 767px) {
	.content-wrapper,
	.right-side,
	.main-footer {
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	.sidebar-collapse .content-wrapper,
	.sidebar-collapse .right-side,
	.sidebar-collapse .main-footer {
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	.sidebar-open .content-wrapper,
	.sidebar-open .right-side,
	.sidebar-open .main-footer {
		-webkit-transform: translate(150px, 0);
		-ms-transform: translate(150px, 0);
		-o-transform: translate(150px, 0);
		transform: translate(150px, 0);
	}
}

.content-wrapper,
.right-side {
	min-height: 100%;
	background-color: #ecf0f5;
	z-index: 800;
}

.main-footer {
	background: #F4F4F6;
	padding: 15px;
	color: #444;
/*	border-top: 1px solid #d2d6de;*/
}


/* Fixed layout */

.fixed .main-header,
.fixed .main-sidebar,
.fixed .left-side {
	position: fixed;
}

.fixed .main-header {
	top: 0;
	right: 0;
	left: 0;
}

.fixed .content-wrapper,
.fixed .right-side {
	padding-top: 50px;
}

@media (max-width: 767px) {
	.fixed .content-wrapper,
	.fixed .right-side {
		padding-top: 100px;
	}
}

.fixed.layout-boxed .wrapper {
	max-width: 100%;
}

body.hold-transition .content-wrapper,
body.hold-transition .right-side,
body.hold-transition .main-footer,
body.hold-transition .main-sidebar,
body.hold-transition .left-side,
body.hold-transition .main-header > .navbar,
body.hold-transition .main-header .logo {
	/* Fix for IE */
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}


/* Content */

.content {
	min-height: 250px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}


/* Page Header */

.page-header {
	margin: 10px 0 20px 0;
	font-size: 22px;
}

.page-header > small {
	color: #666;
	display: block;
	margin-top: 5px;
}


/*
 * Component: Main Header
 * ----------------------
 */

.main-header {
	position: relative;
	max-height: 100px;
	z-index: 1030;
}

.main-header > .navbar {
	-webkit-transition: margin-left 0.3s ease-in-out;
	-o-transition: margin-left 0.3s ease-in-out;
	transition: margin-left 0.3s ease-in-out;
	margin-bottom: 0;
/*	margin-left: 150px;*/
	border: none;
	min-height: 50px;
	border-radius: 0;
}

.layout-top-nav .main-header > .navbar {
	margin-left: 0;
}

.main-header #navbar-search-input.form-control {
	background: rgba(255, 255, 255, 0.2);
	border-color: transparent;
}

.main-header #navbar-search-input.form-control:focus,
.main-header #navbar-search-input.form-control:active {
	border-color: rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.9);
}

.main-header #navbar-search-input.form-control::-moz-placeholder {
	color: #ccc;
	opacity: 1;
}

.main-header #navbar-search-input.form-control:-ms-input-placeholder {
	color: #ccc;
}

.main-header #navbar-search-input.form-control::-webkit-input-placeholder {
	color: #ccc;
}

.main-header .navbar-custom-menu,
.main-header .navbar-right {
	float: right;
}

@media (max-width: 991px) {
	.main-header .navbar-custom-menu a,
	.main-header .navbar-right a {
		color: inherit;
		background: transparent;
	}
}

@media (max-width: 767px) {
	.main-header .navbar-right {
		float: none;
	}
	.navbar-collapse .main-header .navbar-right {
		margin: 7.5px -15px;
	}
	.main-header .navbar-right > li {
		color: inherit;
		border: 0;
	}
}

.main-header .sidebar-toggle {
	float: left;
	background-color: transparent;
	background-image: none;
	padding: 24px 15px;
	font-family: fontAwesome;
}

.main-header .sidebar-toggle:before {
	content: "\f0c9";
}

.main-header .sidebar-toggle:hover {
	color: #fff;
}

.main-header .sidebar-toggle:focus,
.main-header .sidebar-toggle:active {
	background: transparent;
}

.main-header .sidebar-toggle .icon-bar {
	display: none;
}

.main-header .navbar .nav > li.user > a > .fa,
.main-header .navbar .nav > li.user > a > .glyphicon,
.main-header .navbar .nav > li.user > a > .ion {
	margin-right: 5px;
}

.main-header .navbar .nav > li > a > .label {
	position: absolute;
	top: 9px;
	right: 7px;
	text-align: center;
	font-size: 9px;
	padding: 2px 3px;
	line-height: .9;
}

.main-header .logo {
	-webkit-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	display: block;
	float: left;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	width: 150px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 15px;
	font-weight: 300;
	overflow: hidden;
}

.main-header .logo .logo-lg {
	display: block;
}

.main-header .logo .logo-mini {
	display: none;
}

.main-header .navbar-brand {
	color: #fff;
}

.content-header {
	position: relative;
	padding: 15px 15px 0 15px;
}

.content-header > h1 {
	margin: 0;
	font-size: 24px;
}

.content-header > h1 > small {
	font-size: 15px;
	display: inline-block;
	padding-left: 4px;
	font-weight: 300;
}

.content-header > .breadcrumb {
	float: right;
	background: transparent;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 12px;
	padding: 7px 5px;
	position: absolute;
	top: 15px;
	right: 10px;
	border-radius: 2px;
}

.content-header > .breadcrumb > li > a {
	color: #444;
	text-decoration: none;
	display: inline-block;
}

.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
	margin-right: 5px;
}

.content-header > .breadcrumb > li + li:before {
	content: '>\00a0';
}

@media (max-width: 991px) {
	.content-header > .breadcrumb {
		position: relative;
		margin-top: 5px;
		top: 0;
		right: 0;
		float: none;
		background: #d2d6de;
		padding-left: 10px;
	}
	.content-header > .breadcrumb li:before {
		color: #97a0b3;
	}
}

.navbar-toggle {
	color: #fff;
	border: 0;
	margin: 0;
	padding: 15px 15px;
}

@media (max-width: 991px) {
	.navbar-custom-menu .navbar-nav > li {
		float: left;
	}
	.navbar-custom-menu .navbar-nav {
		margin: 0;
		float: left;
	}
	.navbar-custom-menu .navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
		line-height: 20px;
	}
}

@media (max-width: 767px) {
	.main-header {
		position: relative;
	}
	.main-header .logo,
	.main-header .navbar {
		width: 100%;
		float: none;
	}
	.main-header .navbar {
		margin: 0;
	}
	.main-header .navbar-custom-menu {
		float: right;
	}
}

@media (max-width: 991px) {
	.navbar-collapse.pull-left {
		float: none !important;
	}
	.navbar-collapse.pull-left + .navbar-custom-menu {
		display: block;
		position: absolute;
		top: 0;
		right: 40px;
	}
}


/*
 * Component: Sidebar
 * ------------------
 */

.main-sidebar,
.left-side {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 50px;
	min-height: 100vh;
	width: 190px;
	z-index: 810;
	-webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

@media (max-width: 767px) {
	.main-sidebar,
	.left-side {
		/*padding-top: 100px;*/
	}
}

@media (max-width: 767px) {
	.main-sidebar,
	.left-side {
		-webkit-transform: translate(-150px, 0);
		-ms-transform: translate(-150px, 0);
		-o-transform: translate(-150px, 0);
		/*transform: translate(-150px, 0);*/
		transform: translate(-200px, 0);
	}

	.ng-binding{
		text-align: right;
	}
}

@media (min-width: 768px) {
	.sidebar-collapse .main-sidebar,
	.sidebar-collapse .left-side {
		-webkit-transform: translate(-150px, 0);
		-ms-transform: translate(-150px, 0);
		-o-transform: translate(-150px, 0);
		transform: translate(-150px, 0);
	}
}

@media (max-width: 767px) {
	.sidebar-open .main-sidebar,
	.sidebar-open .left-side {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

.sidebar {
	padding-bottom: 10px;
}

.sidebar-form input:focus {
	border-color: transparent;
}

.user-panel {
	position: relative;
	width: 100%;
	padding: 10px;
	overflow: hidden;
}

.user-panel:before,
.user-panel:after {
	content: " ";
	display: table;
}

.user-panel:after {
	clear: both;
}

.user-panel > .image > img {
	width: 100%;
	max-width: 45px;
	height: auto;
}

.user-panel > .info {
	padding: 5px 5px 5px 15px;
	line-height: 1;
	position: absolute;
	left: 55px;
}

.user-panel > .info > p {
	font-weight: 600;
	margin-bottom: 9px;
}

.user-panel > .info > a {
	text-decoration: none;
	padding-right: 5px;
	margin-top: 3px;
	font-size: 11px;
}

.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
	margin-right: 3px;
}

.sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-menu > li {
	position: relative;
	margin: 0;
	padding: 0;
}

.sidebar-menu img {
    width: 1.5em;
    margin-right: 5px;
}

.sidebar-menu > li > a {
    padding: 12px 5px 12px 20px;
    display: block;
}

.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
	width: 20px;
}

.sidebar-menu > li .label,
.sidebar-menu > li .badge {
	margin-top: 3px;
	margin-right: 5px;
}

.sidebar-menu li.header {
	padding: 10px 25px 10px 15px;
	font-size: 12px;
}

.sidebar-menu li > a > .fa-angle-left {
	width: auto;
	height: auto;
	padding: 0;
	margin-right: 10px;
	margin-top: 3px;
}

.sidebar-menu li.active > a > .fa-angle-left {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.sidebar-menu li.active > .treeview-menu {
	display: block;
}

.sidebar-menu .treeview-menu {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 5px;
}

.sidebar-menu .treeview-menu .treeview-menu {
	padding-left: 20px;
}

.sidebar-menu .treeview-menu > li {
	margin: 0;
}

.sidebar-menu .treeview-menu > li > a {
	padding: 5px 5px 5px 15px;
	display: block;
	font-size: 14px;
}

.sidebar-menu .treeview-menu > li > a > .fa,
.sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar-menu .treeview-menu > li > a > .ion {
	width: 20px;
}

.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
	width: auto;
}


/*
 * Component: Sidebar Mini
 */
@media (max-width: 425px) {
    .main-header .logo {
        padding: 2% 32% !important;
    }
}

@media (min-width: 768px) {
	.sidebar-collapse .content-wrapper,
	.sidebar-collapse .right-side,
	.sidebar-collapse .main-footer {
		margin-left: 50px !important;
		z-index: 840;
	}
	.sidebar-collapse .main-sidebar {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 50px !important;
		z-index: 850;
	}
	.sidebar-collapse .sidebar-menu > li {
		position: relative;
        overflow: hidden;
	}
	.sidebar-collapse .sidebar-menu > li > a {
		margin-right: 0;
	}
	.sidebar-collapse .sidebar-menu > li > a > span {
		border-top-right-radius: 4px;
	}
	.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
		border-bottom-right-radius: 4px;
	}
	.sidebar-collapse .sidebar-menu > li > .treeview-menu {
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom-right-radius: 4px;
	}
	.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
	.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
		display: none !important;
		position: absolute;
		width: 180px;
		left: 50px;
	}
	.sidebar-collapse .sidebar-menu > li:hover > a > span {
		top: 0;
		margin-left: -3px;
		padding: 12px 5px 12px 20px;
		background-color: inherit;
	}
	.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
		top: 44px;
		margin-left: 0;
	}
	.sidebar-collapse .main-sidebar .user-panel > .info,
	.sidebar-collapse .sidebar-form,
	.sidebar-collapse .sidebar-menu > li > a > span,
	.sidebar-collapse .sidebar-menu > li > .treeview-menu,
	.sidebar-collapse .sidebar-menu > li > a > .pull-right,
	.sidebar-collapse .sidebar-menu li.header {
		display: none !important;
		-webkit-transform: translateZ(0);
	}
	.sidebar-collapse .main-header .logo {
		width: 59px;
	}
	.sidebar-collapse .main-header .logo > .logo-mini {
		display: block;
	}
    .main-header .logo .logo-lg {
        display: block;
    }
	.sidebar-collapse .main-header .logo > .logo-lg {
		display: none;
	}
	/*.sidebar-collapse .main-header .navbar {
		margin-left: 50px;
	}*/
}

.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
	white-space: nowrap;
	overflow: hidden;
}

.sidebar-menu:hover {
	overflow: visible;
}

.sidebar-form,
.sidebar-menu > li.header {
	overflow: visible;
	text-overflow: clip;
}

.sidebar-menu li > a {
	position: relative;
}

.sidebar-menu li > a > .pull-right {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -7px;
}


/*
 * Component: Control sidebar. By default, this is the right sidebar.
 */

.control-sidebar-bg {
	position: fixed;
	z-index: 1000;
	bottom: 0;
}

.control-sidebar-bg,
.control-sidebar {
	top: 0;
	right: -150px;
	width: 150px;
	-webkit-transition: right 0.3s ease-in-out;
	-o-transition: right 0.3s ease-in-out;
	transition: right 0.3s ease-in-out;
}

.control-sidebar {
	position: absolute;
	padding-top: 50px;
	z-index: 1010;
}

@media (max-width: 768px) {
	.control-sidebar {
		padding-top: 100px;
	}
}

.control-sidebar > .tab-content {
	padding: 10px 15px;
}

.control-sidebar.control-sidebar-open,
.control-sidebar.control-sidebar-open + .control-sidebar-bg {
	right: 0;
}

.control-sidebar-open .control-sidebar-bg,
.control-sidebar-open .control-sidebar {
	right: 0;
}

@media (min-width: 768px) {
	.control-sidebar-open .content-wrapper,
	.control-sidebar-open .right-side,
	.control-sidebar-open .main-footer {
		margin-right: 150px;
	}
}

.nav-tabs.control-sidebar-tabs > li:first-of-type > a,
.nav-tabs.control-sidebar-tabs > li:first-of-type > a:hover,
.nav-tabs.control-sidebar-tabs > li:first-of-type > a:focus {
	border-left-width: 0;
}

.nav-tabs.control-sidebar-tabs > li > a {
	border-radius: 0;
}

.nav-tabs.control-sidebar-tabs > li > a,
.nav-tabs.control-sidebar-tabs > li > a:hover {
	border-top: none;
	border-right: none;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.nav-tabs.control-sidebar-tabs > li > a .icon {
	font-size: 16px;
}

.nav-tabs.control-sidebar-tabs > li.active > a,
.nav-tabs.control-sidebar-tabs > li.active > a:hover,
.nav-tabs.control-sidebar-tabs > li.active > a:focus,
.nav-tabs.control-sidebar-tabs > li.active > a:active {
	border-top: none;
	border-right: none;
	border-bottom: none;
}

@media (max-width: 768px) {
	.nav-tabs.control-sidebar-tabs {
		display: table;
	}
	.nav-tabs.control-sidebar-tabs > li {
		display: table-cell;
	}
}

.control-sidebar-heading {
	font-weight: 400;
	font-size: 16px;
	padding: 10px 0;
	margin-bottom: 10px;
}

.control-sidebar-subheading {
	display: block;
	font-weight: 400;
	font-size: 14px;
}

.control-sidebar-menu {
	list-style: none;
	padding: 0;
	margin: 0 -15px;
}

.control-sidebar-menu > li > a {
	display: block;
	padding: 10px 15px;
}

.control-sidebar-menu > li > a:before,
.control-sidebar-menu > li > a:after {
	content: " ";
	display: table;
}

.control-sidebar-menu > li > a:after {
	clear: both;
}

.control-sidebar-menu > li > a > .control-sidebar-subheading {
	margin-top: 0;
}

.control-sidebar-menu .menu-icon {
	float: left;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
}

.control-sidebar-menu .menu-info {
	margin-left: 45px;
	margin-top: 3px;
}

.control-sidebar-menu .menu-info > .control-sidebar-subheading {
	margin: 0;
}

.control-sidebar-menu .menu-info > p {
	margin: 0;
	font-size: 11px;
}

.control-sidebar-menu .progress {
	margin: 0;
}

.control-sidebar-dark {
	color: #b8c7ce;
}

.control-sidebar-dark,
.control-sidebar-dark + .control-sidebar-bg {
	background: #222d32;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs {
	border-bottom: #1c2529;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a {
	background: #181f23;
	color: #b8c7ce;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:hover,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:focus {
	border-left-color: #141a1d;
	border-bottom-color: #141a1d;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:hover,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:focus,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:active {
	background: #1c2529;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:hover {
	color: #fff;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:hover,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:focus,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:active {
	background: #222d32;
	color: #fff;
}

.control-sidebar-dark .control-sidebar-heading,
.control-sidebar-dark .control-sidebar-subheading {
	color: #fff;
}

.control-sidebar-dark .control-sidebar-menu > li > a:hover {
	background: #1e282c;
}

.control-sidebar-dark .control-sidebar-menu > li > a .menu-info > p {
	color: #b8c7ce;
}

.control-sidebar-light {
	color: #5e5e5e;
}

.control-sidebar-light,
.control-sidebar-light + .control-sidebar-bg {
	background: #f9fafc;
	border-left: 1px solid #d2d6de;
}

.control-sidebar-light .nav-tabs.control-sidebar-tabs {
	border-bottom: #d2d6de;
}

.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a {
	background: #e8ecf4;
	color: #444444;
}

.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:hover,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:focus {
	border-left-color: #d2d6de;
	border-bottom-color: #d2d6de;
}

.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:hover,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:focus,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:active {
	background: #eff1f7;
}

.control-sidebar-light .nav-tabs.control-sidebar-tabs > li.active > a,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li.active > a:hover,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li.active > a:focus,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li.active > a:active {
	background: #f9fafc;
	color: #111;
}

.control-sidebar-light .control-sidebar-heading,
.control-sidebar-light .control-sidebar-subheading {
	color: #111;
}

.control-sidebar-light .control-sidebar-menu {
	margin-left: -14px;
}

.control-sidebar-light .control-sidebar-menu > li > a:hover {
	background: #f4f4f5;
}

.control-sidebar-light .control-sidebar-menu > li > a .menu-info > p {
	color: #5e5e5e;
}


/*
 * Component: Dropdown menus
 * -------------------------
 */


/*Dropdowns in general*/

.dropdown-menu {
	box-shadow: none;
	border-color: #eee;
}

.dropdown-menu > li > a {
	color: #777;
}

.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
	margin-right: 10px;
}

.dropdown-menu > li > a:hover {
	background-color: #e1e3e9;
	color: #333;
}

.dropdown-menu > .divider {
	background-color: #eee;
}

.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
	width: 280px;
	padding: 0 0 0 0;
	margin: 0;
	top: 100%;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li,
.navbar-nav > .messages-menu > .dropdown-menu > li,
.navbar-nav > .tasks-menu > .dropdown-menu > li {
	position: relative;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #ffffff;
	padding: 7px 10px;
	border-bottom: 1px solid #f4f4f4;
	color: #444444;
	font-size: 14px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 12px;
	background-color: #fff;
	padding: 7px 10px;
	border-bottom: 1px solid #eeeeee;
	color: #444 !important;
	text-align: center;
}

@media (max-width: 991px) {
	.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
	.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
	.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
		background: #fff !important;
		color: #444 !important;
	}
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
	text-decoration: none;
	font-weight: normal;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
	max-height: 400px;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-x: hidden;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
	display: block;
	white-space: nowrap;
	/* Prevent text from breaking */
	border-bottom: 1px solid #f4f4f4;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
	background: #f4f4f4;
	text-decoration: none;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
	color: #444444;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
	width: 20px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
	margin: 0;
	padding: 10px 10px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
	margin: auto 10px auto auto;
	width: 40px;
	height: 40px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
	padding: 0;
	margin: 0 0 0 45px;
	color: #444444;
	font-size: 15px;
	position: relative;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
	color: #999999;
	font-size: 10px;
	position: absolute;
	top: 0;
	right: 0;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
	margin: 0 0 0 45px;
	font-size: 12px;
	color: #888888;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
	content: " ";
	display: table;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
	clear: both;
}

.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
	padding: 10px;
}

.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
	font-size: 14px;
	padding: 0;
	margin: 0 0 10px 0;
	color: #666666;
}

.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
	padding: 0;
	margin: 0;
}

.navbar-nav > .user-menu > .dropdown-menu {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	padding: 1px 0 0 0;
	border-top-width: 0;
	width: 280px;
}

.navbar-nav > .user-menu > .dropdown-menu,
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: 175px;
	padding: 10px;
	text-align: center;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
	z-index: 5;
	height: 90px;
	width: 90px;
	border: 3px solid;
	border-color: transparent;
	border-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
	z-index: 5;
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	font-size: 17px;
	margin-top: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
	display: block;
	font-size: 12px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body {
	padding: 15px;
	border-bottom: 1px solid #f4f4f4;
	border-top: 1px solid #dddddd;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
	content: " ";
	display: table;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
	clear: both;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
	color: #444 !important;
}

@media (max-width: 991px) {
	.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
		background: #fff !important;
		color: #444 !important;
	}
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
	background-color: #f9f9f9;
	padding: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
	content: " ";
	display: table;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
	clear: both;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
	color: #666666;
}

@media (max-width: 991px) {
	.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
		background-color: #f9f9f9;
	}
}

.navbar-nav > .user-menu .user-image {
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: -2px;
}

@media (max-width: 767px) {
	.navbar-nav > .user-menu .user-image {
		float: none;
		margin-right: 0;
		margin-top: -8px;
		line-height: 10px;
	}
}


/* Add fade animation to dropdown menus by appending
 the class .animated-dropdown-menu to the .dropdown-menu ul (or ol)*/

.open:not(.dropup) > .animated-dropdown-menu {
	backface-visibility: visible !important;
	-webkit-animation: flipInX 0.7s both;
	-o-animation: flipInX 0.7s both;
	animation: flipInX 0.7s both;
}

@keyframes flipInX {
	0% {
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transition-timing-function: ease-in;
		opacity: 0;
	}
	40% {
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transition-timing-function: ease-in;
	}
	60% {
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}
	80% {
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}
	100% {
		transform: perspective(400px);
	}
}

@-webkit-keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		opacity: 0;
	}
	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
	}
	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}
	100% {
		-webkit-transform: perspective(400px);
	}
}


/* Fix dropdown menu in navbars */

.navbar-custom-menu > .navbar-nav > li {
	position: relative;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
	position: absolute;
	right: 0;
	left: auto;
}

@media (max-width: 991px) {
	.navbar-custom-menu > .navbar-nav {
		float: right;
	}
	.navbar-custom-menu > .navbar-nav > li {
		position: static;
	}
	.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
		position: absolute;
		right: 5%;
		left: auto;
		border: 1px solid #ddd;
		background: #fff;
	}
}


/*
 * Skin: Blue
 * ----------
 */

.main-header .navbar {
	background-color: #445377;
}

.main-header .navbar .nav > li > a {
	color: #ffffff;
}

.main-header .navbar .nav > li > a:hover,
.main-header .navbar .nav > li > a:active,
.main-header .navbar .nav > li > a:focus,
.main-header .navbar .nav .open > a,
.main-header .navbar .nav .open > a:hover,
.main-header .navbar .nav .open > a:focus,
.main-header .navbar .nav > .active > a {
	background: rgba(0, 0, 0, 0.1);
	color: #f6f6f6;
}

.main-header .navbar .sidebar-toggle {
	color: #ffffff;
}

.main-header .navbar .sidebar-toggle:hover {
	color: #f6f6f6;
	background: rgba(0, 0, 0, 0.1);    
    
}

.main-header .navbar .sidebar-toggle {
	color: #fff;
}

.main-header .navbar .sidebar-toggle:hover {
	background-color: #367fa9;
}

@media (max-width: 767px) {
	.main-header .navbar .dropdown-menu li.divider {
		background-color: rgba(255, 255, 255, 0.1);
	}
	.main-header .navbar .dropdown-menu li a {
		color: #fff;
	}
	.main-header .navbar .dropdown-menu li a:hover {
		background: #367fa9;
	}
}

.main-header .logo {
	background-color: #20272D;
	color: #ffffff;
	border-bottom: 0 solid transparent;
    padding-top: 1%;
}

.main-header .logo:hover {
	background-color: #357ca5;
}

.main-header li.user-header {
	background-color: #3c8dbc;
}

.content-header {
	background: transparent;
}

.wrapper,
.main-sidebar,
.left-side {
	/*background-color: white;*/
    background-color: #d9dfe4
/*	background-color: #222d32;*/
}

.user-panel > .info,
.user-panel > .info > a {
	color: #fff;
}

.sidebar-menu > li.header {
	color: #4b646f;
	background: #1a2226;
}

.sidebar-menu > li > a {
	border-left: 3px solid transparent;
}

.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
	color: #000;
/*	background: #eff3f6 ;*/
	border-left-color: #eff3f6;
}

.activeTab > a {
	color: #cc2129 !important;
/*	background: #1e282c !important;*/
	border-left-color: #eff3f6  !important;
}

.sidebar-menu > li > .treeview-menu {
	margin: 0 1px;
	background: #2c3b41;
}

.sidebar a {
	color: #9E9E9E;
}

.sidebar a:hover {
	text-decoration: none;
}

.treeview-menu > li > a {
	color: #8aa4af;
}

.treeview-menu > li.active > a,
.treeview-menu > li > a:hover {
	color: #ffffff;
}

.sidebar-form {
	border-radius: 3px;
	border: 1px solid #374850;
	margin: 10px 10px;
}

.sidebar-form input[type="text"],
.sidebar-form .btn {
	box-shadow: none;
	background-color: #374850;
	border: 1px solid transparent;
	height: 35px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.sidebar-form input[type="text"] {
	color: #666;
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
}

.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #fff;
	color: #666;
}

.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	border-left-color: #fff;
}

.sidebar-form .btn {
	color: #999;
	border-top-left-radius: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 0;
}

.layout-top-nav .main-header > .logo {
	background-color: #3c8dbc;
	color: #ffffff;
	border-bottom: 0 solid transparent;
}

.layout-top-nav .main-header > .logo:hover {
	background-color: #3b8ab8;
}

.sidebar-menu .table-condensed>tbody>tr>td {
    padding: 0px;
}
.sidebar-menu .table-condensed {
    width: 150px;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.active:hover {
    background-color : #2cdcb9;
    background: #2cdcb9;
    border-radius: 12px
}

.sidebar-menu input[type=checkbox], .sidebar-menu input[type=radio] {
    margin-right: 5px;
    margin-top: 0px;
    width: 10px;
    cursor: pointer;
}

.sidebar-menu .form-check-label {
    position: relative;
    margin: 0px;
    cursor: pointer;
}

.sidebar-menu .form-check-label span{
    position: absolute;
}