<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
     Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <title>SBSApp | Home</title>
    <!--------------------Fevicon------------------------->
    <link rel="shortcut icon" type="image/gif" href="../assets/images/favicon.gif">

    <!--------------------CSS----------------------------->
    <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <!--------------------Fonts---------------------------->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat" />

    <!-------------------scripts--------------------------->
    <script src="../libs/jquery/dist/jquery.min.js"></script>
    <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <section class="home">
        <nav class="row navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img alt="Brand" src="../assets/images/Apps.png">
              </a>
            </div>
          </div>
        </nav>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-centered text-center">
                <div class="panel">
                    <p class="red-strip"></p>
                    <h3>Sign In 3</h3>
                    <form class="col-xs-12" novalidate>
                        <div class="left-inner-addon input-group form-group formGroupMarRem dropdown top-drp">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input ng-model="signinData.email" type="text" placeholder="Email ID" required>
                        </div>
                        
                        <div class="left-inner-addon input-group form-group formGroupMarRem dropdown top-drp">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input ng-model="signinData.email" type="password" placeholder="Password" required>
                        </div>
                        
                        <div class="form-group sign-in">
                            <span>Request Access</span>
                            <button type="submit" class="btn pull-right">Sign In</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>

</html>