<div class="wrapper " style="background: #f3f7fa;">
    <div ui-view="navigation"></div>
    <div class="content-wrapper slots" style="background: #F4F4F6;" ng-init="init()">
        <!-- <div class="col-md-11 col-sm-11 panel top-strip">
            <div class="panel-body"><label style="font-size: 14px;">Manage Site</label></div>
        </div> -->
        
        <div class="col-md-11 col-sm-11 panel table-box">
            <div class="panel-body newOffer">
              <div class="row">
              <div class="col-md-12">
                <span class="headingSmall">New Offer 1025-FMI</span>
                </div>
                </div>
                
            
        <div class="row">
        <div class="col-md-8 slideLine">

          <div class="row divide1">
            <div class="col-md-1" >
             <!-- <input type="checkbox" value="" disabled> -->
            </div>
            <div class="col-md-3" >
             <span class="theading"> Date </span>
            </div>
             <div class="col-md-2" >
              <span class="theading">Start time</span>
            </div>
            <div class="col-md-2">
             <span class="theading"> End time</span>
            </div>
            <div class="col-md-4">
             <span class="theading">Offer rate</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
             <input type="checkbox" value="" >
            </div>
            <div class="col-md-3" >
             <label>Option 3</label>
            </div>
             <div class="col-md-2" >
              <input type="text" class="form-control text-center" id="usr">
            </div>
            <div class="col-md-2" >
              <input type="text" class="form-control text-center" id="usr">
            </div>
            <div class="col-md-4 " >
             <input type="text" class="form-control text-right" id="usr">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
             <input type="checkbox" value="" >
            </div>
            <div class="col-md-3" >
             <label>Option 3</label>
            </div>
             <div class="col-md-2" >
              <input type="text" class="form-control text-center" id="usr">
            </div>
            <div class="col-md-2" >
              <input type="text" class="form-control text-center" id="usr">
            </div>
            <div class="col-md-4 " >
             <input type="text" class="form-control text-right" id="usr">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
             <input type="checkbox" value="" >
            </div>
            <div class="col-md-3" >
             <label>Option 3</label>
            </div>
             <div class="col-md-2" >
              <input type="text" class="form-control text-center" id="usr">
            </div>
            <div class="col-md-2" >
              <input type="text" class="form-control text-center" id="usr">
            </div>
            <div class="col-md-4 " >
             <input type="text" class="form-control text-right" id="usr">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row divide1">
            <div class="col-md-2" >
               
            </div>
            <div class="col-md-11" >
             <span class="theading"> Select MIS</span>
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-2 col-xs-2" >
             <input type="checkbox" value="" >
            </div>
            <div class="col-md-9  col-xs-9" >
             <label> John More </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2  col-xs-2" >
             <input type="checkbox" value="" >
            </div>
            <div class="col-md-9  col-xs-9" >
             <label> John More </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2  col-xs-2" >
             <input type="checkbox" value="" >
            </div>
            <div class="col-md-9  col-xs-9" >
             <label> John More </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2  col-xs-2" >
             <input type="checkbox" value="" disabled>
            </div>
            <div class="col-md-9  col-xs-9" >
             <label class="disabled1"> John More </label>
            </div>
          </div>

          
        </div>
      </div>
       <div class="row " style="padding-top: 15px;">
            <div class="col-md-12" >
              <label ><input type="checkbox" value="" ><span class="marginTab">Allow counter offers</span></label>
            </div>
          </div>
           <div class="row">
           <div class="col-md-12 text-center" >
           <button class="btn greenBtn">Create </button>
            <button class="btn">Cancel </button>
            </div>
          </div>
  </div>
</div>
        </div>
