<div class="wrapper" style="background: #f3f7fa;">
    <div ui-view="navigation"></div>
    <div class="content-wrapper slots" style="background: #F4F4F6;" ng-init="init()">
        
        
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#medicalImaging">Set leave</button>
    
         <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#medicalImaging">Set leave</button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#changeStatus">Change Status</button>

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#changeStatus2">Change Status</button>
    
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#counterOffer">Change Status</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#markDNAModal">"markDNAModal"</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#adminDNA">"adminDNA"</button>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#adminRostered">"adminRostered"</button>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#viewOffer">"MISviewOffer"</button>

     <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#placeCounterOffer">"MISplaceCounterOffer"</button>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#withDrawOffer">"AdminWithdrawOffer"</button>


<!-- MIS place Counter offer -->
     <div class="modal fade " id="placeCounterOffer" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalOrange">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Counter Offer 1023- FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 100%; margin: 0px auto;">
                <div class="col-md-12 viewoffer">
                      
                              <table style="width:100%;">
                            <thead class="divide1" style="width:100%;">
                                <!-- <th style="width:7%"></th> -->
                                <th style="width:30%"><span class="theading"> <span class="datecol" style="padding-left: 40px;">Date</span></span></th>
                                <th class="text-center" style="width:15%"> <span class="theading">Start time</span></th>
                                <th style="width:3%"></th>
                                <th class="text-center theading"  style="width:15%"> End time</th>
                                <th class="offerRate theading"  style="width:30%"> Counter Rate</th>
                            </thead>
                            <tbody class="slotoffer">
                              <tr>
                                <!-- <td><input type="checkbox" value="" ></td> -->
                                  <td> <div class="form-check">
                                    <label>
                                      <input type="checkbox" name="check" checked> <span class="label-text">Mon 20/11/2017</span>
                                    </label>
                                  </div></td>
                                <td> <input type="text" class="form-control text-center smallinput" id="starttime"></td>
                                <td style="width:3%">-</td>
                                <td> <input type="text" class="form-control text-center smallinput" id="endtime"></td>
                                <td class="offerRate"><input type="text" class="form-control text-right" id="counterrate"></td>
                              </tr>
                              <tr>
                              <!--   <td><input type="checkbox" value="" ></td> -->
                                <td><div class="form-check">
                                  <label>
                                    <input type="checkbox" name="check" checked> <span class="label-text">Mon 20/11/2017</span>
                                  </label>
                                </div></td>
                                <td> <input type="text" class="form-control text-center smallinput" id="usr"></td>
                                <td style="width:3%">-</td>
                                <td> <input type="text" class="form-control text-center smallinput" id="usr"></td>
                                <td class="offerRate"><input type="text" class="form-control text-right" id="usr"></td>
                              </tr>
                              <tr>
                                <!-- <td><input type="checkbox" value="" ></td> -->
                                <td><div class="form-check">
                                  <label>
                                    <input type="checkbox" name="check" checked> <span class="label-text">Mon 20/11/2017</span>
                                  </label>
                                </div></td>
                                <td> <input type="text" class="form-control text-center smallinput" id="usr"></td>
                                <td style="width:3%">-</td>
                                <td> <input type="text" class="form-control text-center smallinput" id="usr"></td>
                                <td class="offerRate"><input type="text" class="form-control text-right" id="usr"></td>
                              </tr>
                                                           
                            </tbody>
                        </table> 

                </div>
            </div>
            <div class="row text-center">
                <label style="color: #ff8298;">Warning: Unchecked sessions will be auto considered as rejected for the given offer on submission.</label>
            </div>
                               
            <div class="row">
               <div class="col-md-12 text-center topbottom" >
                    <!-- <button class="btn redbtn"> Mark DNA </button> -->
                    <button class="btn btnAqua"> Submit  </button>
<!--                    <button class="btn">Cancel  </button>-->
                 
                </div>
            </div>
            </div>
          </div>
          
        </div>

      </div>
    </div>

    <!-- end modal -->





    <!-- MISviewOffer -->
     <div class="modal fade " id="viewOffer" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalOrange">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Offer 1023- FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row width110">
            <div class="col-md-12 viewoffer">
                <div class="col-md-4 col-xs-4">
                    <span class="theading"> Date</span>
                    <br>
                    <label>Fri 17/11/2017</label><br>
                    <label>Fri 17/11/2017</label><br>
                    <label>Fri 17/11/2017</label>
                </div>
                <div class="col-md-4 col-xs-4">
                    <span class="theading"> Time</span>
                    <br>
                    <label>08:00-14:00</label><br>
                    <label>08:00-14:00</label><br>
                    <label>08:00-14:00</label>
                </div>
                
                <div class="col-md-4 col-xs-4">
                    <span class="theading"> Offer Rate</span>
                    <br>
                    <label>$1000</label><br>
                    <label>$1000</label><br>
                    <label>$1000</label>
                </div>
                </div>
                </div>
                               
            <div class="row">
               <div class="col-md-12 text-center topbottom" >
                    <!-- <button class="btn redbtn"> Mark DNA </button> -->
                    <button class="btn btnAqua"> Accept  </button>
                    <button class="btn">Reject  </button>
                    <button class="btn">Counter  </button>
                </div>
            </div>
            </div>
          </div>
          
        </div>

      </div>
    </div>


    <!-- Modal Withdraw offer -->

         <div class="modal fade " id="withDrawOffer" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalOrange">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Offer 1023- FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row width110">
            <div class="col-md-12">
                <div class="col-md-4 col-xs-4">
                    <span class="theading"> Date</span>
                    <br>
                    <label>Fri 17/11/2017</label><br>
                    <label>Fri 17/11/2017</label><br>
                    <label>Fri 17/11/2017</label>
                </div>
                <div class="col-md-4 col-xs-4">
                    <span class="theading"> Time</span>
                    <br>
                    <label>08:00-14:00</label><br>
                    <label>08:00-14:00</label><br>
                    <label>08:00-14:00</label>
                </div>
                
                <div class="col-md-4 col-xs-4">
                    <span class="theading"> Offer Rate</span>
                    <br>
                    <label>$1000</label><br>
                    <label>$1000</label><br>
                    <label>$1000</label>
                </div>
                </div>
                </div>
                <hr>
                 <div class="row width110">
            <div class="col-md-12">
                <div class="col-md-4 col-xs-7">
                    <span class="theading"> MIS</span>
                    <br>
                    <label>John More(JM)</label><br>
                    <label>Zita Gacs (ZG)</label><br>
                    <label>Kevin Ho-Shon (KH)</label><br>
                    <label>Ken Ho( KH)</label>
                </div>
                <div class="col-md-4">
                </div>
                
                <div class="col-md-4 col-xs-5">
                    <span class="theading">Status</span>
                    <br>
                    <label>Rejected</label><br>
                    <label class="OrangeText">Count Offer</label> <a href="#" class="viewLink">VIEW</a><br>
                    <label > Rejected</label><br>
                    <label class="OrangeText">Offered</label>
                </div>
                </div>
                </div>
                
            <div class="row">
               <div class="col-md-12 text-center topbottom" >
                    <!-- <button class="btn redbtn"> Mark DNA </button> -->
                    <button class="btn btnAqua"> Withdraw  </button>
<!--                    <button class="btn">Cancel  </button>-->
                </div>
            </div>
            </div>
          </div>
          
        </div>

      </div>
    </div>

     <!-- end modal -->


    <!-- Modal set leav  -->
    <div class="modal fade " id="medicalImaging" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalOrange">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Offer 1023- FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row width110">
            <div class="col-md-12">
            	<div class="col-md-4 col-xs-4">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label><br>
            		<label>Fri 17/11/2017</label><br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-4 col-xs-4">
            		<span class="theading"> Time</span>
            		<br>
            		<label>08:00-14:00</label><br>
            		<label>08:00-14:00</label><br>
            		<label>08:00-14:00</label>
            	</div>
            	
            	<div class="col-md-4 col-xs-4">
            		<span class="theading"> Offer Rate</span>
            		<br>
            		<label>$1000</label><br>
            		<label>$1000</label><br>
            		<label>$1000</label>
            	</div>
            	</div>
            	</div>
            	<hr>
            	 <div class="row" style="width: 100%; margin: 0px auto;">
            <div class="col-md-12">
            	<div class="col-md-4 col-xs-7">
            		<span class="theading"> MIS</span>
            		<br>
            		<label>John More(JM)</label><br>
            		<label>Zita Gacs (ZG)</label><br>
            		<label>Kevin Ho-Shon (KH)</label><br>
            		<label>Ken Ho( KH)</label>
            	</div>
<!--
            	<div class="col-md-4">
            	</div>
-->
            	
            	<div class="col-md-4 col-xs-5">
            		<span class="theading">Status</span>
            		<br>
            		<label>Rejected</label><br>
            		<label class="OrangeText">Count Offer</label> <a href="#" class="viewLink">VIEW</a><br>
            		<label > Rejected</label><br>
            		<label class="OrangeText">Offered</label>
            	</div>
            	</div>
            	</div>
            	
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<!-- <button class="btn redbtn"> Mark DNA </button> -->
		            <button class="btn btnAqua"> Withdraw  </button>
<!--		            <button class="btn">Cancel  </button>-->
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- End Modal  -->
    
     <!-- Modal Enter password  -->
    <div class="modal fade " id="enterpassword" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalAqua">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Enter Password to Withdraw Offer</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 90%; margin: 0px auto;">
            <div class="col-md-12">
            	<div class="col-md-4">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label><br>
            		<label>Fri 17/11/2017</label><br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-4">
            		<span class="theading"> Time</span>
            		<br>
            		<label>08:00-14:00</label><br>
            		<label>08:00-14:00</label><br>
            		<label>08:00-14:00</label>
            	</div>
            	
            	<div class="col-md-4">
            		<span class="theading"> Offer Rate</span>
            		<br>
            		<label>$1000</label><br>
            		<label>$1000</label><br>
            		<label>$1000</label>
            	</div>
            	</div>
            	</div>
            	<hr>
            	 <div class="row" style="width: 90%; margin: 0px auto;">
            <div class="col-md-8 col-md-offset-2">
            	<label>Enter password</label><br>
            		<form>
					  
					  <div class="form-group">
					   <input id="password-field" type="password" class="form-control" name="password" value="password">
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
					</div>
					<script>
					$(".toggle-password").click(function() {

						  $(this).toggleClass("fa-eye fa-eye-slash");
						  var input = $($(this).attr("toggle"));
						  if (input.attr("type") == "password") {
						    input.attr("type", "text");
						  } else {
						    input.attr("type", "password");
						  }
						});
					</script>
					</form>
            	</div>
            	</div>
            	
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<!-- <button class="btn redbtn"> Mark DNA </button> -->
		            <button class="btn btnAqua"> Withdraw  </button>
<!--		            <button class="btn">Cancel  </button>-->
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- End Modal set leave -->
    
      <!-- Modal Change Status  -->
    <div class="modal fade " id="changeStatus" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalBlack">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Enter Password to Change Status</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 100%; margin: 0px auto;">
            <div class="row">
            	<div class="col-md-2 col-xs-4">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-2 col-xs-4">
            		<span class="theading"> Time</span>
            		<br>
            		<label>08:00-14:00</label>
            	</div>
            	
            	<div class="col-md-3 col-xs-4">
            		<span class="theading"> Offer Rate</span>
            		<br>
            		<label>$1000</label>
            	
            	</div>
            	<div class="col-md-3 col-xs-4">
            		<span class="theading">MIS</span>
            		<br>
            		<label>Sam Monroe</label>
            	</div>
            	<div class="col-md-2 col-xs-4">
            		<span class="theading"> Status</span>
            		<br>
            		<label>DNA</label>
            	</div>
            	</div>
            	</div>
            	<hr>
            	 <div class="row" style="width: 90%; margin: 0px auto;">
            <div class="col-md-8 col-md-offset-2">
            	<label>Enter password</label><br>
            		<form>
					  
					  <div class="form-group">
					   <input id="password-field2" type="password" class="form-control" name="password" value="password">
              <span toggle="#password-field2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
					</div>
					<script>
					$(".toggle-password").click(function() {

						  $(this).toggleClass("fa-eye fa-eye-slash");
						  var input = $($(this).attr("toggle"));
						  if (input.attr("type") == "password") {
						    input.attr("type", "text");
						  } else {
						    input.attr("type", "password");
						  }
						});
					</script>
					</form>
            	</div>
            	</div>
            	
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<!-- <button class="btn redbtn"> Mark DNA </button> -->
		            <button class="btn btnAqua"> Change Status  </button>
<!--		            <button class="btn">Cancel  </button>-->
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- End Modal set leave -->
   
   
      <!-- Modal Change Status  -->
    <div class="modal fade " id="changeStatus2" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalOrange">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Enter Password to Change Status</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 100%; margin: 0px auto;">
            <div class="row">
            	<div class="col-md-2 col-xs-4">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-2 col-xs-4">
            		<span class="theading"> Time</span>
            		<br>
            		<label>08:00-14:00</label>
            	</div>
            	
            	<div class="col-md-3 col-xs-4">
            		<span class="theading"> Offer Rate</span>
            		<br>
            		<label>$1000</label>
            	
            	</div>
            	<div class="col-md-3 col-xs-4">
            		<span class="theading">MIS</span>
            		<br>
            		<label>Sam Monroe</label>
            	</div>
            	<div class="col-md-2 col-xs-4">
            		<span class="theading"> Status</span>
            		<br>
            		<label class="OrangeText">Closed</label>
            	</div>
            	</div>
            	</div>
            	<hr>
            	 <div class="row" style="width: 90%; margin: 0px auto;">
            <div class="col-md-8 col-md-offset-2">
            	<label>Enter password</label><br>
            		<form>
					  
					  <div class="form-group">
					   <input id="password-field2" type="password" class="form-control" name="password" value="password">
              <span toggle="#password-field2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
					</div>
					<script>
					$(".toggle-password").click(function() {

						  $(this).toggleClass("fa-eye fa-eye-slash");
						  var input = $($(this).attr("toggle"));
						  if (input.attr("type") == "password") {
						    input.attr("type", "text");
						  } else {
						    input.attr("type", "password");
						  }
						});
					</script>
					</form>
            	</div>
            	</div>
            	
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<!-- <button class="btn redbtn"> Mark DNA </button> -->
		            <button class="btn btnAqua"> Change Status  </button>
<!--		            <button class="btn">Cancel  </button>-->
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- End Modal set leave --> 
    
    
    
      <!-- Modal Change Status  -->
    <div class="modal fade " id="counterOffer" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalOrange">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Counter offer 1023 - FMI</h4>
          </div>
          <div class="modal-body">
            <div class="" style="width: 100%; margin: 0px auto;">
            <div class="">
            	<div class="col-md-2 col-xs-5 col-sm-2">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Mon 16/09/2017</label><br>
            		<label>Mon 16/09/2017</label><br>
            		<label>Mon 16/09/2017</label>
            	</div>
            	<div class="col-md-2 col-xs-5 col-sm-2">
            		<span class="theading"> Time</span>
            		<br>
            		<label>08:00-14:00</label><br>
            		<label>08:00-14:00</label><br>
            		<label>08:00-14:00</label>
            	</div>
            	
            	<div class="col-md-3 col-xs-4 col-sm-3">
            		<span class="theading">Response time</span>
            		<br>
            		<label>08:00-14:00</label><br>
            		<label>08:00-14:00</label><br>
            		<label>08:00-14:00</label>
            	
            	</div>
            	<div class="col-md-3 col-xs-3 col-sm-2">
            		<span class="theading">Offer rate</span>
            		<br>
            		<label> $1000</label><br>
            		<label> $1000</label><br>
            		<label> $1000</label>
            	</div>
            	<div class="col-md-2 col-xs-4 col-sm-2">
            		<span class="theading"> Counter Rate</span>
            		<br>
            		<label >$1500</label><br>
            		<label >$1500</label><br>
            		<label >$1500</label>
            	</div>
            	</div>
            	</div>
            	<hr>
            	 <div class="row" style="width: 100%; margin: 0px auto;">
          <div class="col-md-4">
            		<span class="theading">MIS</span>
            		<br>
            		<label>Sam Monroe</label>
            	</div>
            	</div>
            	
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<!-- <button class="btn redbtn"> Mark DNA </button> -->
		            <button class="btn btnAqua"> Accept   </button>
		             <button class="btn btnAqua"> Reject   </button>
<!--		            <button class="btn"> Cancel  </button>-->
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- End Modal set leave --> 
    
     <div class="modal fade " id="markDNAModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalBlack">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Offer 1023- FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 100%; margin: 0px auto;">
            <div class="col-md-12">
            	<div class="col-md-4 col-xs-4">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-4 col-xs-4">
            		<span class="theading"> Time</span>
            		<br>
            		<label>08:00-14:00</label>
            	</div>
            	
            	<div class="col-md-4">
            		<span class="theading"> Final Rate</span>
            		<br>
            		<label>$1000</label>
            	</div>
            	</div>
            	</div>
            	<hr>
            	 <div class="row" style="width: 90%; margin: 0px auto;">
            <div class="col-md-12">
            	<div class="col-md-4 col-xs-6">
            		<span class="theading"> MIS</span>
            		<br>
            		<label>John More(JM)</label>
            	</div>
            	<div class="col-md-4">
            	</div>
            	
            	<div class="col-md-4 col-xs-6">
            		<span class="theading">Status</span>
            		<br>
            		<label class="BlueText">Completed</label> 
            		
            	</div>
            	</div>
            	</div>
            	
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<button class="btn blackbtn"> Mark DNA </button>
		            <button class="btn btnorange"> Mark Closed  </button>
<!--		            <button class="btn">Cancel  </button>-->
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- End Modal  -->
    
    <div class="modal fade " id="adminDNA" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalBlack">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Offer 1023- FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 100%; margin: 0px auto;">
            <div class="col-md-12">
            	<div class="col-md-4 col-xs-4">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-4 col-xs-4">
            		<span class="theading"> Time</span>
            		<br>
            		<label>08:00-14:00</label>
            	</div>
            	
            	<div class="col-md-4">
            		<span class="theading"> Final Rate</span>
            		<br>
            		<label>$1000</label>
            	</div>
            	</div>
            	</div>
            	<hr>
            	 <div class="row" style="width: 90%; margin: 0px auto;">
            <div class="col-md-12">
            	<div class="col-md-4 col-xs-6">
            		<span class="theading"> MIS</span>
            		<br>
            		<label>John More(JM)</label>
            	</div>
            	<div class="col-md-4">
            	</div>
            	
            	<div class="col-md-4 col-xs-6">
            		<span class="theading">Status</span>
            		<br>  
            		<label >DNA</label> 
            		
            	</div>
            	</div>
            	</div>
            	
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           <!-- 	<button class="btn blackbtn"> Mark DNA </button> -->
		            <button class="btn btnorange"> Mark Closed  </button>
<!--		            <button class="btn">Cancel  </button>-->
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- End Modal  -->
    
    
    <div class="modal fade " id="markDNAModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalBlack">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Offer 1023- FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 90%; margin: 0px auto;">
            <div class="col-md-12">
            	<div class="col-md-4">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-4">
            		<span class="theading"> Time</span>
            		<br>
            		<label>08:00-14:00</label>
            	</div>
            	
            	<div class="col-md-4">
            		<span class="theading"> Final Rate</span>
            		<br>
            		<label>$1000</label>
            	</div>
            	</div>
            	</div>
            	<hr>
            	 <div class="row" style="width: 90%; margin: 0px auto;">
            <div class="col-md-12">
            	<div class="col-md-4">
            		<span class="theading"> MIS</span>
            		<br>
            		<label>John More(JM)</label>
            	</div>
            	<div class="col-md-4">
            	</div>
            	
            	<div class="col-md-4">
            		<span class="theading">Status</span>
            		<br>
            		<label class="BlueText">Completed</label> 
            		
            	</div>
            	</div>
            	</div>
            	
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<button class="btn blackbtn"> Mark DNA </button>
		            <button class="btn btnorange"> Mark Closed  </button>
<!--		            <button class="btn">Cancel  </button>-->
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- End Modal  -->
    
    <div class="modal fade " id="adminRostered" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalGreen">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Offer 1023- FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 100%; margin: 0px auto;">
            <div class="col-md-12">
            	<div class="col-md-4 col-xs-4">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-4 col-xs-4">
            		<span class="theading"> Time</span>
            		<br>
            		<label>08:00-14:00</label>
            	</div>
            	
            	<div class="col-md-4">
            		<span class="theading"> Final Rate</span>
            		<br>
            		<label>$1000</label>
            	</div>
            	</div>
            	</div>
            	<hr>
            	 <div class="row" style="width: 90%; margin: 0px auto;">
            <div class="col-md-12">
            	<div class="col-md-4 col-xs-6">
            		<span class="theading"> MIS</span>
            		<br>
            		<label>John More(JM)</label>
            	</div>
            	<div class="col-md-4">
            	</div>
            	
            	<div class="col-md-4 col-xs-6">
            		<span class="theading">Status</span>
            		<br>
            		<label class="GreenText" >Rostered</label> 
            		
            	</div>
            	</div>
            	</div>
            	
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		          <button class="btn blackbtn"> Mark DNA </button> 
		          <!--   <button class="btn btnorange"> Mark Closed  </button> -->
<!--		            <button class="btn">Cancel  </button>-->
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- End Modal  -->
    
   	</div><!-- Wrapper  -->
</div>
