<div class="wrapper">
   <!--Navigation-->
  <div ui-view="navigation"></div>
    
    <div class="content-wrapper" style="background: #F4F4F6;height: 150%;" ng-init="initAssignCourseToBranch">
        <!--Used For Heading-->
        
        <div class ="col-md-11 col-sm-11 panel table-box">
            <div class="panel-body" style="background:#445377;color: white;margin-top: inherit;height: 40px;overflow: hidden">
                  <label style="font-size: 18px;font-weight: 100;padding: 5px 15px">Assign Course To Branch</label>
          </div><br><br>
            
              <!--Contents Start From Here-->
            <div class="row">
                <div class="col-lg-6 col-lg-6 ">
                  <label for="usr">Branch Name<span class="asterisk">*</span></label>
                    
                     <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                       <select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%;height: 29px;font-size: 12px" ng-model="bName" ng-options="branch for branch in branchList"></select>
                                   </div>
                </div>
                <!--Secod COlumn-->
                
                 <div class="col-lg-6 col-lg-6">
                    <div class="panel-body heading" style="color: black;margin-top: inherit;height: 30px;">
                         <label style="font-size: 15px;font-weight: 100;margin-top: -10px;">Course List</label>
                    </div><br>
                    
                    <!--List Of Employees-->
                      <div class="scrolltable">
                    <table class ="table">
               
                        <tbody>
                           <tr ng-repeat="course in courseList">
                              <td style="border-color:white;width: 10%;"><input type="checkbox"></td>
                               <td style="border-color:white;">{{course.Cname}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <!--End OF Table-->
                     
                    <button type="submit" class="btn saveBtn" style="float: right">Assign</button>
                </div>
            </div>
            
        </div>
    </div>
</div>