<div class="wrapper">
  <!--Navigation-->
    <div ui-view="navigation"></div>
    <div class="content-wrapper" style="background: #F4F4F6;height: 150%;" ng-init="initAssignResource">
       
        <!--Used For Heading-->
        <div class="col-md-11 col-sm-11 panel table-box">
          <div class="panel-body" style="background: #445377;color:white;margin-top: inherit;height: 40px;overflow: hidden">
                <label style="font-size: 18px;font-weight: 100;padding: 5px 15px;">Assign Service To Staff</label>
          </div><br><br>
            
            <!--Contents Start From Here-->
            
            <div class="row">
               <!--First Column-->
                <div class="col-lg-6">
                   <label for="usr">Staff Name<span class="asterisk">*</span></label>
                 
                 <div class="input-group"><span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                 <select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%;height: 29px;font-size: 12px" ng-model="branchNameToResource" ng-options="staff for staff in serviceToStaff"></select>
                 </div>
                </div>
                
                <!--Second Column-->
                
                  <div class="col-lg-6">
                    <label style="font-size: 15px;font-weight: 100;">Service List</label>
                  
                  <!--List OF Service List-->
                      <div class="scrolltable">
                             <table class="table">
                    <tbody>
                      <tr ng-repeat="service in tblServiceToStaff">
                        <td style="border-color:white;width: 5%;"><input type="checkbox"></td>
                        
                         <td style="border-color:white;">{{service.ServiceToStaffName}}</td>
                            
                           
                      </tr>
                    </tbody>
                  </table>
                      </div>
              
                  
                  <!--End OF table-->
                  
                   <button type="submit" class="btn saveBtn" style="float: right">Assign</button>
                      
                    
                </div>
                
            </div>
        </div>
    </div>
</div>