
<header class="main-header">
    <nav class="row navbar navbar-default navbar-static-top" role="navigation">
        <!-- <img id="blockUI" ng-show="loader" class="loader blockUI" src="common/assets/images/spinner1.gif" alt="Finapps loader">-->
        <div class="container-fluid ">
            <div class="col-md-3 " style="">
                <div class="navbar-header">
                    <a class="navbar-brand" href="" ng-click="goMainDashboard()" > <img style="margin-right: 10px; padding: 0;" src="common/assets/images/Menu.png" width="60" height="80"> </a>
                    <a class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle Sidebar</span> </a>
                </div>
            </div>
            <div class="col-md-6 text-center titleText ">
                <div class="">
                    <p>{{screenTitle}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="userIcon">

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<aside class="main-sidebar" ng-click="onUserUnClick()">
    <section class="sidebar">
        <div class="divAppointment">
         <ul class="sidebar-menu" style="margin-top: 35px">
            </ul>
        </div>
    </section>
</aside>
